body {
    background-color: #F4F5F7;
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 163 224 / var(--tw-bg-opacity, 1));
    cursor: pointer;
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(221 23 61 / var(--tw-bg-opacity, 1));
    cursor: pointer;
    color:#ffffff
}
.border-outline-secondary {
    --tw-bg-opacity: 1;
    border:1px solid rgb(221 23 61 / var(--tw-bg-opacity, 1));
    color: rgb(221 23 61 / var(--tw-bg-opacity, 1));
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}